body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #EDE5D9;
  }
  header {
    background-color: #0D0176;
    color: white;
    padding: 10px 0;
    text-align: center;
  }
  .header-button {
    display: inline-block;
    background-color: #666;
    color: white;
    padding: 10px 20px;
    margin: 0 10px;
    text-decoration: none;
    border-radius: 5px;
  }
  .header-button:hover {
    background-color: #888;
  }
  .news-item {
    background-color: white;
    margin: 20px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }

  footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    align-items: center;
  }
  .footer .container span {
	font-size: 24px;
	font-weight: bold;
	text-align: center;
	width: 100%;
	display: block;
	padding: 15px;
  }
  .footer-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  }
  .container {
	max-width: 1000px;
	margin: 0 auto;
	padding: 0 20px;
  }


.txt-uppercase{
	color: #FF00FF;
}

/* navbar */
.navbar-brand-png {
	width: 100%;
	max-width: 100px;
}

.navbar-nav  {
	display: flex;
	/*justify-content: space-between;*/
	margin: 10px;
  justify-content: space-around;
}

.navbar-toggler {
	display: none;
	position: absolute;
	z-index: 5;
	right: 0;
	top: 0;
	margin: 20px;
}

.navbar-toggler i {
	font-size: 30px;
}

.navbar-brand {
	display: flex;
	align-items: center;
}
.navs {
	display: flex;
	align-items: center;
  justify-content: space-around;
}

.navs .navs-item {
	margin: 0px 30px;
  transition: 0.3s;
	padding: 10px;
  border-radius: 4px;
	font-weight: bold;
}

.navs .navs-item a {
	font-size: 14px;
	color: var(--secondary-disabled);
}

.navs .navs-item a:hover {
	color: var(--secondary);
}

.navs .navs-item a button {
	font-size: 14px;
}

.navs .navs-item.notbtn {
	margin: 0px 50px;
	transition: 0.3s;
	padding: 10px;
	border-radius: 4px;
	cursor: pointer;
  	color: #dcd9ed;
}

.navs .navs-item.notbtnlk {
    margin: 10px; /* Расстояние между кнопками */
    transition: 0.3s;
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
    color: #101047;
}

.navs .navs-item.notbtn:hover {
	/*transform: scale(1.1);*/
	font-weight: bold;
	background-color: #101047;
}
.navs .navs-item.notbtn:focus {
	/*transform: scale(1.1);*/
	font-weight: bold;
	background-color: #FF0000;
	border-radius: 4px;	
}

.navs-item .btn {
	font-weight: bold;
  background-color: #EDE5D9;
  color: #0D0176;
}
/* navbar end */

/* features */
.features-box .features-t {
	font-size: 30px;
	text-align: center;
	margin-bottom: 25px;
}

.features-box .features-t::after {
	content: "";
	display: block;
	border-bottom: 3px solid var(--third);
	width: 10%;
	margin: 0 auto;
	border-radius: 50px;
	margin-top: 7px;
	min-width: 70px;
  color: #0D0176;
}

.features {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}


.features .feature {
	display: flex;
	width: 100%;
	justify-content: space-between;
	margin: 30px 0;
}

.features .feature:nth-child(2) {
	flex-direction: row-reverse;
}

.feature .feature-img {
	width: 100%;
	max-width: 400px;
	margin: 0 auto;
}

.feature .feature-info {
	max-width: 400px;
	border-radius: 5px;
	padding: 10px;
	margin: 10px auto;
}

.feature .feature-info .feature-info-d {
	color: var(--secondary-disabled)
}

.feature .feature-info .feature-info-t {
	font-size: 30px;
	font-weight: bold;
}
/* features end */


.login-form {
	background-color: #fff;
	padding: 20px;
	margin: 20px auto;
	max-width: 500px;
	border-radius: 8px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	justify-content: center;

}
.login-form h2 {
	text-align: center;
	margin-bottom: 20px;
}
.login-form label {
	display: block;
	margin-bottom: 5px;
}
.login-form input[type="text"],
.login-form input[type="password"] {
	width: 100%;
	padding: 10px;
	margin-bottom: 15px;
	border: 1px solid #ddd;
	border-radius: 4px;
	box-sizing: border-box;
}
.login-form input[type="submit"] {
	width: 100%;
	padding: 10px;
	background-color: #007BFF;
	color: white;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}
.login-form input[type="submit"]:hover {
	background-color: #0056b3;
}
.register-button {
	display: block;
	padding: 10px;
	background-color: #5cb85c;
	color: white;
	text-align: center;
	text-decoration: none;
	border-radius: 4px;
	margin-top: 15px;
}
.register-button:hover {
	background-color: #4cae4c;
}
.user-type-switch {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 15px;
}
.user-type-switch label {
	cursor: pointer;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 4px;
	background-color: #f8f8f8;
	color: #333;
	transition: background-color 0.3s;
}
.user-type-switch input[type="radio"] {
	display: none;
}
.user-type-switch input[type="radio"]:checked + label {
	background-color: #007BFF;
	color: #fff;
}
/*таблицы*/
.table {
	width: 100%;
	border-collapse: separate;
}
.th, .td {
	border: 1px solid #ddd;
	padding: 8px;
	text-align: left;
}
.th {
	background-color: #0D0176;
	color:#ddd;
}
.tr {
	background-color: #f6f1e7;
}

.form {
	margin-top: 10px;
}
.a {
	text-decoration: none;
	color: #0D0176;
}
.a:hover {
	text-decoration: underline;
}
.imgc{
	width: 100%;
	max-width: 300px;
	margin: 5px auto;
}
.b {
	color: #0D0176;
}

/* jumbotron */
.jumbotron {
	margin-top: 150px;
}

.jumbotron-items {
	display: flex;
	justify-content: space-between;
}

.jumbotron-items .jumbotron-item {
	max-width: 500px;
}

.jumbotron-items .jumbotron-item img {
	width: 400px;
	height: auto;
}

.jumbotron-item .jumbotron-t {
	font-size: 40px;
	font-weight: bold;
	text-align: right;
	width: 100%;
}

.jumbotron-item .jumbotron-d {
	margin-top: 15px;
	font-size: 20px;
	color: var(--secondary-disabled);
}

.jumbotron-item .jumbotron-buttons {
	margin-top: 30px;
}

.jumbotron-item .jumbotron-buttons button {
	margin: 10px 5px;
}
/* jumbotron end */

/*таблицы с ресторанами*/
.rests-item {
	background-color: rgb(255, 255, 255);
    margin: 60px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
.rest-tables th {
	width: 20%;
	font-weight: normal;
	font-size: 14px;
	color: #EDE5D9;
	padding: 10px 12px;
	background: #0D0176;
 }
 .rest-tables td {
	color: #7c6239;
	border-top: 1px solid white;
	padding: 10px 12px;
	background: #EDE5D9;
	transition: .3s;
 }
 .rest-tables tr:hover td {
	background: #EDE5D9;
 }

 /*таблица ЛК*/
 .lk-item {
	background-color: rgb(255, 255, 255);
    margin: 60px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
.lk-tables th {
	width: 100%;
	font-weight: normal;
	font-size: 14px;
	color: #000000;
	padding: 10px 12px;
	background: #ffffff;
 }
 .lk-tables td {
	width: 100%;
	color: #7c6239;
	border-top: 1px solid white;
	padding: 10px 12px;
	background: #EDE5D9;
	transition: .3s;
 }

